h1, h2 {
    margin: 10px 25px 5px;
}

h2 {
    font-size: 1.1em;
}

.filename {
    font-style: italic;
}

.exceptionMessage {
    margin: 10px;
    padding: 5px;
    border: 1px solid #000;
    background-color: #E9E9E9;
}

.snippet, .stack {
    margin: 0 25px 10px;
}

.snippet, .stack {
    border: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* error details */
.error-details {
    padding: 5px;
    padding-left: 25px;
    overflow: hidden;
    border-top: 1px solid #FFAAAA;
    border-bottom: 1px solid #FFAAAA;
    background-color: #FFF3F3;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
}

.error-details dt {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
}

.error-details dt:after {
    content: ":";
}

.error-details dd {
    display: block;
}

/* stack trace */
.stack {
    height: 150px;
    padding: 5px;
    overflow: auto;
}

/* code snippet */
.snippet {
    background-color: #fff;
    font-family: monospace;
}

.snippet .line {
    display: block;
}

.snippet .lineNumber {
    display: inline-block;
    width: 3em;
    margin-right: 5px;
    padding: 0 3px;
    color: #999;
    background-color: #ddd;
    text-align: right;
}

.snippet .error {
    background-color: #fff3f3;
    font-weight: bold;
}

.snippet .error .lineNumber {
    color: #333;
    background-color: #faa;
    font-weight: bold;
}

.snippet .line:first-child .lineNumber {
    padding-top: 5px;
}

.snippet .line:last-child .lineNumber {
    padding-bottom: 5px;
}
