/* Styles for mobile devices */

@media screen and (max-width: 480px) {
    .nav {
        padding: 0.5em;
    }

    .nav li {
        margin: 0 0.5em 0 0;
        padding: 0.25em;
    }

    /* Hide individual steps in pagination, just have next & previous */
    .pagination .currentStep, .pagination .step {
        display: none;
    }

    .pagination .prevLink {
        float: left;
    }

    .pagination .nextLink {
        float: right;
    }

    /* pagination needs to wrap around floated buttons */
    .pagination {
        overflow: hidden;
    }

    /* slightly smaller margin around content body */
    .property-list, fieldset {
        padding: 0.3em 1em 1em;
    }

    input, textarea {
        box-sizing: border-box;
        width: 100%;
    }

    input[type=button], input[type=checkbox], input[type=radio], input[type=reset], input[type=submit], select {
        width: auto;
    }

    /* hide all but the first column of list tables */
    .scaffold-list td:not(:first-child), .scaffold-list th:not(:first-child) {
        display: none;
    }

    .scaffold-list thead th {
        text-align: center;
    }

    /* stack form elements */
    .fieldcontain {
        margin-top: 0.6em;
    }

    .fieldcontain .property-label, .fieldcontain .property-value, .fieldcontain label {
        display: block;
        width: auto;
        float: none;
        margin: 0 0 0.25em 0;
        text-align: left;
    }

    .errors ul, .message p {
        margin: 0.5em;
    }

    .error ul {
        margin-left: 0;
    }
}
