/*
*= require elurikkus-common
*/

.indented-list-item {
    padding-left: 20px;
}

.admin-multi-select {
    height: 100px
}

/* XXX A hack for foul Bootstrap card stacking. */
.card {
    margin-bottom: 1.5rem;
}
