/*
*= require filters
*/
.datasets-facet {
}

.dataset {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

.dataset__row-header {
    padding: 0.5em 0;
}

.dataset__row-header img {
    cursor: pointer;
}

.dataset__row-summary {
}

.dataset__summary-part {
    margin-right: 10px;
}

.dataset__label {
    display: inline;
    margin-bottom: 0;
}

.dataset__description {
    padding-bottom: 1px !important;
    overflow: hidden;
}

.pagination__step {
    padding-right: 0.5em;
}
